html {
 font-size: 62.5%; /* =10px */
}

:root {
 --size-title: 3.8rem;
 --size-subtitle: 3.2rem;
 --size-text: 2.6rem;
 --main-color: #6e0d94;
 --font-color: #ffffff;
 --font-subcolor: #fecc1b;
}

body {
 margin: 0;
}

@font-face {
 font-family: "FoundersGrotesk-Regular";
 src: url("../src/assets/FoundersGrotesk-Regular.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Medium";
 src: url("../src/assets/FoundersGrotesk-Medium.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Semibold";
 src: url("../src/assets/FoundersGrotesk-Semibold.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Bold";
 src: url("../src/assets/FoundersGrotesk-Bold.otf");
}

.background-cover {
 height: 110vh;
}

.background-cover {
 background-color: var(--main-color);
 background-repeat: repeat-x;
}

.title {
 margin: 0;
 margin-left: 20px;
 padding-top: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}

.title {
 font-family: FoundersGrotesk-Bold;
 font-size: var(--size-title);
 font-weight: bolder;
 color: var(--font-color);
 background-color: var(--main-color);
}

.subtitle {
 display: flex;
 justify-content: center;
 text-align: center;
 margin: 0;
 padding-top: 10px;
}

.subtitle {
 font-family: FoundersGrotesk-Semibold;
 font-size: var(--size-subtitle);
 font-weight: bolder;
 color: var(--font-subcolor);
 background-color: var(--main-color);
}

.img_cover {
 display: block;
 margin: auto;
}

@media only screen and (max-width: 720px) {
 .background-cover {
  color: var(--font-color);
  background-color: var(--main-color);
  width: 100vh;
 }
 .img_cover {
  width: 80%;
 }
}

.footer-container {
 display: flex;
 justify-content: space-between;
 height: 140px;
}

.textbox {
 color: var(--font-color);
 font-family: FoundersGrotesk-Regular;
 font-size: var(--size-text);
 font-weight: 500;
}

.textbox {
 width: 370px;
 margin-left: 50px;
 display: inline-block;
 text-align: center;
}

.img-container {
 margin-right: 50px;
}

.symbol_cruz {
 width: 120px;
 margin-bottom: 16px;
}

.title-definition {
 background-color: rgb(238, 235, 64);
 height: 400px;
 width: auto;
}
