html {
 font-size: 62.5%; /* =10px */
 overflow-x: hidden;
}

:root {
 --size-title: 3.6rem;
 --size-subtitle: 3.2rem;
 --size-text: 2.2rem;
 --main-color: #6e0d94;
 --font-color: #ffffff;
 --font-subcolor: #fecc1b;
}

body {
 margin: 0;
 padding: 0;
}

@font-face {
 font-family: "FoundersGrotesk-Regular";
 src: url("../src/assets/FoundersGrotesk-Regular.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Medium";
 src: url("../src/assets/FoundersGrotesk-Medium.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Semibold";
 src: url("../src/assets/FoundersGrotesk-Semibold.otf");
}

@font-face {
 font-family: "FoundersGrotesk-Bold";
 src: url("../src/assets/FoundersGrotesk-Bold.otf");
}

.background-cover {
 height: 50%;
}

.concept {
 height: 50%;
}

.background-cover {
 background-color: var(--main-color);
 background-size: cover;
}

.title {
 margin: 0;
 padding-top: 40px;
 padding-bottom: 40px;
 border: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.title {
 font-family: FoundersGrotesk-Bold;
 font-size: var(--size-title);
 font-weight: bolder;
 color: var(--font-color);
 background-color: var(--main-color);
}

.subtitle {
 margin: 0;
 border: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
}
.subtitle {
 font-family: FoundersGrotesk-Semibold;
 font-size: var(--size-subtitle);
 font-weight: bolder;
 color: var(--font-subcolor);
 background-color: var(--main-color);
}

.figure-cover {
 width: 1800px;
 margin: 0;
 border: 0;
 background-color: var(--main-color);
 display: flex;
}

.img_cover {
 display: block;
 margin: auto;
 height: 420px;
 width: 420px;
}

.footer-container {
 height: 140px;
 width: 100px;
 margin: auto;
 display: flex;
 justify-content: space-around;
 background-color: var(--main-color);
 align-items: center;
 align-self: center;
}

.textbox {
 width: 310px;
 height: 90px;
 background-color: var(--main-color);
 display: flex;
 align-items: center;
}
.textbox {
 color: var(--font-color);
 font-family: FoundersGrotesk-Regular;
 font-size: var(--size-text);
 font-weight: 500;
}

.img-container {
 margin-right: 100px;
}

.symbol_cruz {
 width: 100px;
 margin-bottom: 30px;
}

@media screen and (max-width: 1140px) {
 .title {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media screen and (max-width: 1140px) {
 .subtitle {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media screen and (max-width: 1600px) {
 .figure-cover {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
 }
}

@media screen and (max-width: 1600px) {
 .footer-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
 }
}

.bg-CD {
 background-color: #a301e7;
 background-size: cover;
}

.title-ConceptDefinition {
 position: relative;
 display: flex;
 justify-content: center;
 text-align: center;
 margin: 0;
 padding-top: 60px;
}
.title-ConceptDefinition {
 color: var(--font-subcolor);
 font-family: FoundersGrotesk-Bold;
 font-size: var(--size-subtitle);
 font-weight: bolder;
 margin-bottom: 3.5rem;
}

.text-ConceptDefinition {
 color: var(--font-color);
 font-family: FoundersGrotesk-Regular;
 font-size: var(--size-text);
 font-weight: 500;
}
.text-ConceptDefinition {
 width: 700px;
 margin-left: 10rem;
 position: relative;
 display: inline-block;
}

.subtext-ConceptDefinition {
 color: var(--font-color);
 font-family: FoundersGrotesk-Regular;
 font-size: var(--size-text);
 font-weight: 500;
}

.text-ConceptDefinition {
 width: 470px;
 margin-left: 20rem;
 /* position: relative; */
 display: inline-block;
}

.img1-ConceptDefinition {
 width: 500px;
 display: inline-block;
}

.img2-ConceptDefinition {
 width: 450px;
}
