body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

@font-face {
 font-family: kavoon-regular;
 src: url("../src/assets/Kavoon-Regular.ttf");
}

.cover {
 font-family: kavoon-regular;
 font-size: 40px;
 font-weight: bolder;
 color: white;
 margin: 0;
 padding: 50px;
 display: flex;
 /* align-items: center; */
 justify-content: center;
}

.background-cover {
 background-image: url("./assets/background_purple.png");
 background-repeat: "no-repeat";
 background-size: "cover";
}

.front_cover {
 width: 70%;
 height: auto;
}
